<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Movie list</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/site.css">
</head>
<body>

<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-8">
            <h1>Movie score</h1>
        </div>
        <div sec:authorize="!isAuthenticated()" class="col-4 d-flex justify-content-end">
            <a th:href="@{/login}" class="btn btn-primary align-self-start">Log in</a>
        </div>
        <div sec:authorize="isAuthenticated()" class="col-4 d-flex justify-content-end">
            <div class="d-flex justify-content-end me-3">
                <p sec:authentication="name" class="me-1"></p>
                <span sec:authentication="principal.authorities"></span>
            </div>
            <a th:href="@{/logout}" class="btn btn-primary align-self-start">Log out</a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="row d-flex justify-content-center">
                <div class="col-12 d-flex">
                    <div class="col-12 rounded border px-0 pb-2 shadow align-self-stretch">
                        <div class="box-img">
                            <img th:src="${movie.img_url}" alt="" class="rounded-top">
                        </div>
                        <br>
                        <h5 th:text="${movie.name}" class="text-center"></h5>
                        <br>
                        <p th:text="${movie.description}" class="text-center mx-2"></p>
                        <br>
                        <div class="mx-auto d-flex justify-content-center mb-1">
                            <span class="badge bg-secondary" th:text="${movie.rating}"></span>
                        </div>
                        <div class="mx-auto d-flex justify-content-center mb-1">
                            <span class="badge bg-secondary" th:text="|${movie.duration} Mins|"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-8">
            <div class="row mt-2">
                <div class="col-8 d-flex align-items-start">
                    <h3 class="me-2" th:text="${stars}"></h3>
                    <i class="bi bi-star-fill"></i>
                </div>
                <div class="col-4">
                    <a th:href="@{/movies}" class="btn btn-primary float-end">Volver</a>
                </div>
            </div>
            <hr>
            <div class="row">
                <h3>Reviews</h3>
            </div>
            <th:block th:each="score : ${scores}">
                <div class="rounded border shadow-sm col-12 mb-2">
                    <div class="row m-3">
                        <h5 th:text="${score.user.username}"></h5>
                        <hr>
                        <p th:text="${score.details}"></p>
                        <div class="col-12 d-flex align-items-start">
                            <p class="me-2" th:text="${score.score}"></p>
                            <i class="bi bi-star-fill"></i>
                        </div>
                    </div>
                </div>
            </th:block>
            <hr>
            <th:block th:if="${reviewed != true}">
                <div sec:authorize="isAuthenticated()" class="row m-1">
                    <div class="rounded border shadow-sm col-12">
                        <h5 class="text-center mt-2">Add review</h5>
                        <form th:action="@{/scores/create}" th:object="${review}" method="post">
                            <input type="hidden"
                                   name="movie_fk"
                                   id="movie_fk"
                                   th:value="${movie.id}">
                            <div class="form-group mb-2">
                                <label>Details</label>
                                <input type="text"
                                       name="details"
                                       th:field="*{details}"
                                       placeholder="review details..."
                                       class="form-control">
                            </div>
                            <div class="form-group mb-2">
                                <label>Score</label>
                                <input type="number"
                                       name="score"
                                       th:field="*{score}"
                                       value="5"
                                       class="form-control">
                            </div>
                            <div class="form-group mb-2">
                                <button type="submit" class="btn btn-primary col-12">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</div>

</body>
</html>